.topFixedBanner{
    background-image: url("../image/banner.jpg");
    min-height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topBannerOverLay{
    position: absolute;
    min-height: 550px;
    width: 100%;
    background: rgb(0, 0, 0, 0.7);
}

.TopContent{
    margin-top: 15em;
}
.topTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
}
.topShbTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
}

.ecomerceicon{
    height: 80px;
    width: 80px;
}
.designicon{
    height: 80px;
    width: 80px;
}
.webicon{
    height: 80px;
    width: 80px;
}
.serviceCard{
    margin: 5px 5px 5px 5px;
    height: 22rem;
    padding: 60px 30px 60px 30px;
    box-shadow:0 0 8px 0 rgb(4, 55, 105, 0.2);
}
.serviceCard:hover{
    margin: 5px 5px 5px 5px;
    height: 22rem;
    padding: 60px 30px 60px 30px;
    box-shadow:0 0 16px 0 rgb(4, 55, 105, 0.2);
}
.serviceName{
    color: #051b35;
    margin: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.serviceDescription{
    color: #051b35;
    margin: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.ServiceMainTitle{
    color: #505050;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
}
.bottom{
    background: #505050 none repeat scroll 0 0;
    height: 3px;
    width: 100px;
    margin: -1.9rem auto 0;
    margin-bottom: 3rem;
}

.NavTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff !important;
    font-size: 30px;
}
.NavTitleScroll{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #051b35 !important;
    font-size: 30px;
}
.iconImage{
    height: 60px;
    width: 80px;
}
.navBackground{
    -webkit-transition: background-color 440ms linear;
    -moz-transition: background-color 440ms linear;
    -o-transition: background-color 440ms linear;
    transition: background-color 440ms linear;
    background-color: rgba(00, 00, 00, 0.0) !important;
}
.navBackgroundScroll{
    -webkit-transition: background-color 440ms linear;
    -moz-transition: background-color 440ms linear;
    -o-transition: background-color 440ms linear;
    transition: background-color 440ms linear;
    background-color: #ffffff;
}
.navItem{
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff !important;
    font-weight: 700;
    font-size: 16px;
}
.navItemScroll{
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    color: #000000 !important;
    font-weight: 700;
    font-size: 16px;
}

.SummaryFixedBanner{
    background-image: url("../image/summary.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.SummaryBannerOverLay{
    position: absolute;
    min-height: 400px;
    width: 100%;
    background: rgb(27, 31, 92, 0.7);
    
}

.countNumber{
    color: #130ff2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.countTitle{
    color: #09e01b;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.countSection{
    margin-top: 20%; 
}
.cardTitle{
    color: #000000;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.cardSubTitle{
    color: #000000;
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.workCard{
    margin-top: 25%;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
    
}
.iconBullent{
    color: #051b35;
    font-size: 16px;
}
.iconProject{
    color:#0fce2c;
    font-size: 100px;
}
.projectCard{
    background: #ffffff;
    height: 100em;
    width: 22em;
    border-radius: 0.6em;
    margin: 1em;
    cursor: pointer;
    box-shadow: 0 13px 25px -5px;
    transition: all ease 2000ms;
}
.projectCard:hover{
    transform: scale(1.03);
    box-shadow: 0 13px 30px -5px;
}
.videoCard{
    box-shadow: 0 13px 10px -5px;
    padding: 8rem 3rem 8rem 3rem;
    background-color: #051b35;
    margin: 20px auto;
    border-radius: 5px;
}
.videoText{
    margin-top: 2%;
}
.clientReviewTitle{
    margin-top: 1rem;
    color: #ffffff;
}
.bottom1{
    background: #ffffff none repeat scroll 0 0;
    height: 3px;
    width: 150px;
    margin: 1rem auto 0;
    margin-bottom: 3rem;
}
.sideBack{
    background-color: #051b35;
    min-height: 400px;
}
.circleImg{
    margin: 0 auto;
    height: 100px;
    width: 100px;
    border: 1px solid #051b35;
    border-radius: 50%;
}
.ReviewName{
    color: #ffffff;
    margin: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.ReviewDescription{
    color: #ffffff;
    margin: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.AboutImage{
    width: 550px;
    height: 550px;
    background-color: #051b35;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    float: right;
}
.aboutImg{
    height: 100%;
    margin-top: 210px;
}
.aboutMeBody{
    width: 100%;
    height: 100%;
    padding-left: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;
}
.aboutMeTitle{
    color: #051b35;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.aboutMeDetails{
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 600;
}
.footerSection{
    margin-top: 5rem;
    box-shadow: 0 0 8px 0;
    background-color: #051b35;
}
.footerName{
    color: #ffffff;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.socialContent{
    margin: 30px;
}
a.social{
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}
a.social:hover{
    color: #ffd900;
    transform: translateY(-2px);
}
a.facebook{
    color: #ffffff;
}
a.instagram{
    color: #ffffff;
}
a.github{
    color: #ffffff;
}
p.mail{
    color: #e9e8e8;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
p.mail:hover{
    color: #ffd900;
    margin-top: 1rem;
    
}
.footerLink{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}
.footerLink:hover{
    text-decoration: none;
    
    color: #ffd900;
}
.copyrightsection{
    color: #130ff2;
    padding: 20px 20px 20px 20px;
    background-color: #002c61;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.copyrightsection:hover{
    color: #ffd900;  
}